.slick-arrow
    width: 22px !important
    height 22px !important
    display: flex
    align-items: center 
    justify-content: center
    &.slick-next
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOC4wMSAyOC4wMSI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMwMDgwYzc7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5zZXRhMV9SPC90aXRsZT48ZyBpZD0iQ2FtYWRhXzIiIGRhdGEtbmFtZT0iQ2FtYWRhIDIiPjxnIGlkPSJDYW1hZGFfMS0yIiBkYXRhLW5hbWU9IkNhbWFkYSAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0zLDBIMjVhMywzLDAsMCwxLDMsM1YyNWEzLDMsMCwwLDEtMywzSDNhMywzLDAsMCwxLTMtM1YzQTMsMywwLDAsMSwzLDBaTTMsMkExLDEsMCwwLDAsMiwzVjI1YTEsMSwwLDAsMCwxLDFIMjVhMSwxLDAsMCwwLDEtMVYzYTEsMSwwLDAsMC0xLTFabTguNzksMTkuNzFhLjc1Ljc1LDAsMCwxLTEuMDcsMGwtLjQ0LS40NGEuNzUuNzUsMCwwLDEsMC0xLjA2TDE2LjUsMTQsMTAuMjgsNy43OWEuNzcuNzcsMCwwLDEsMC0xLjA3bC40NS0uNDRhLjc1Ljc1LDAsMCwxLDEuMDYsMEwxOSwxMy40NmEuNzcuNzcsMCwwLDEsMCwxLjA3WiIvPjwvZz48L2c+PC9zdmc+')!important
        background-repeat no-repeat !important
        background-size: 100% !important
        background-position: center !important
    &.slick-prev
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOCAyOCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMwMDgwYzc7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5zZXRhMV9MPC90aXRsZT48ZyBpZD0iQ2FtYWRhXzIiIGRhdGEtbmFtZT0iQ2FtYWRhIDIiPjxnIGlkPSJDYW1hZGFfMS0yIiBkYXRhLW5hbWU9IkNhbWFkYSAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yNSwyOEgzYTMsMywwLDAsMS0zLTNWM0EzLDMsMCwwLDEsMywwSDI1YTMsMywwLDAsMSwzLDNWMjVBMywzLDAsMCwxLDI1LDI4Wm0wLTJhMSwxLDAsMCwwLDEtMVYzYTEsMSwwLDAsMC0xLTFIM0ExLDEsMCwwLDAsMiwzVjI1YTEsMSwwLDAsMCwxLDFaTTE2LjIyLDYuMjhhLjc1Ljc1LDAsMCwxLDEuMDYsMGwuNDQuNDVhLjc0Ljc0LDAsMCwxLDAsMS4wNkwxMS41LDE0bDYuMjIsNi4yMmEuNzUuNzUsMCwwLDEsMCwxLjA2bC0uNDQuNDVhLjc3Ljc3LDAsMCwxLTEuMDcsMEw5LDE0LjU0YS43OC43OCwwLDAsMSwwLTEuMDdaIi8+PC9nPjwvZz48L3N2Zz4=')!important
        background-repeat no-repeat !important
        background-size:  100% !important
        background-position: center !important
        transform: rotate(360deg)
    &:before
        display none !important
        
.slick-dots
    position: abosolute !important
    li
        width: 15px !important
        height 15px !important
        border: none !important
        background: none !important
        button
            width: 15px !important
            height 15px !important
            background-color transparent !important
            border: 2px solid $cor03 !important
            padding 0 !important
            border-radius 50%
        &.slick-active
            button
                background-color: $cor01 !important
                border-color: $cor01 !important
        
section.fbits-section-home .slick-list.draggable
    width: initial !important


.slick-arrow.slick-prev
    left 0
    @media(max-width : 991px)
        left 5px !important
        width: 30px
        height 30px
.slick-arrow.slick-next
    right 0
    @media(max-width : 991px)
        right 5px !important
        width: 30px
        height 30px