.product__zoom
    width: 100%
    max-width: 450px
    position relative
    display: flex
    flex-wrap: wrap

    @media(max-width: 1250px)
        max-width 45%

    @media(max-width: 992px)
        max-width 100%
  
    .verDetalhes
        display: none

    .etiqueta__produto
        z-index: 1    

        #fbits-div-preco-off
            display: block!important
            

.product__price
    .fbits-comprar 
        display: none


.fbits-componente-imagem
    max-width 530px

    iframe 
        width 100%

    @media(max-width: 1250px)
        max-width 100%

    @media(max-width 991px)
        margin: 0 auto
 
.jcarousel
    overflow initial !important
#galeria 
    
    .slick-next, .slick-prev 
        position: absolute
        background-color: transparent

    .slick-arrow
        width 85px!important
        height 30px
        background-size: auto !important
    .slick-next
        width: 20px !important
        bottom -20px
        right -20px !important
        font-size: 0
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS44MyAyNy42OCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNiNGI0YjQ7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5zZXRhMl9SPC90aXRsZT48ZyBpZD0iQ2FtYWRhXzIiIGRhdGEtbmFtZT0iQ2FtYWRhIDIiPjxnIGlkPSJDYW1hZGFfMS0yIiBkYXRhLW5hbWU9IkNhbWFkYSAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yLjUyLjIyLDE1LjYxLDEzLjMxYS43NS43NSwwLDAsMSwwLDEuMDZMMi41MiwyNy40NmEuNzUuNzUsMCwwLDEtMS4wNiwwTC4yMiwyNi4yMmEuNzUuNzUsMCwwLDEsMC0xLjA2TDExLjUxLDEzLjg0LjIyLDIuNTJhLjc1Ljc1LDAsMCwxLDAtMS4wNkwxLjQ2LjIyQS43NS43NSwwLDAsMSwyLjUyLjIyWiIvPjwvZz48L2c+PC9zdmc+')!important
        background-position: center
        @media(max-width: 992px)
            right -20px!important 
            bottom: 0!important 
            top: 48%

    .slick-prev
        bottom -20px
        left: -55px !important
        font-size: 0
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS44MyAyNy42OCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNiNGI0YjQ7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5zZXRhMl9MPC90aXRsZT48ZyBpZD0iQ2FtYWRhXzIiIGRhdGEtbmFtZT0iQ2FtYWRhIDIiPjxnIGlkPSJDYW1hZGFfMS0yIiBkYXRhLW5hbWU9IkNhbWFkYSAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMy4zMSwyNy40Ni4yMiwxNC4zN2EuNzUuNzUsMCwwLDEsMC0xLjA2TDEzLjMxLjIyYS43NS43NSwwLDAsMSwxLjA2LDBsMS4yNCwxLjI0YS43NS43NSwwLDAsMSwwLDEuMDZMNC4zMSwxMy44NGwxMS4zLDExLjMyYS43NS43NSwwLDAsMSwwLDEuMDZsLTEuMjQsMS4yNEEuNzUuNzUsMCwwLDEsMTMuMzEsMjcuNDZaIi8+PC9nPjwvZz48L3N2Zz4=')!important
        background-position: center
